.set_3_button {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	background:#666666;
	overflow: hidden;
	width: auto;
	padding: 0px 25px;
	margin-right: 2.5em;
	line-height: 45px;
	float: left;
	cursor: pointer;
	text-align: center;
}
.set_3_button a {
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.set_3_button span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.set_3_button:hover {
	background-color: rgba(0,0,0,0.3);
}
.set_3_button:hover > span {
	opacity: 0;
	-webkit-transform: translate(0px, 40px);
	transform: translate(0px, 40px);
}
.set_3_button::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(-30%, 0);
	transform: translate(-30%, 0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.set_3_button:hover::after {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}






.set_3_button3 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	background:#f2625a;
	overflow: hidden;
	width: auto;
	padding: 0px 25px;
	margin-right: 2.5em;
	line-height: 45px;
	float: left;
	cursor: pointer;
	text-align: center;
}
.set_3_button3 a {
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.set_3_button3 span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.set_3_button3:hover {
	background-color:#dd483f;
}
.set_3_button3:hover > span {
	opacity: 0;
	-webkit-transform: translate(0px, 40px);
	transform: translate(0px, 40px);
}
.set_3_button3::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(30%, 0);
	transform: translate(30%, 0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.set_3_button3:hover::after {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}



.set_3_button4 {
	color:#252b2d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	background:#b9ccd2 ;
	overflow: hidden;
	width: auto;
	padding: 0px 25px;
	margin-right: 2.5em;
	line-height: 45px;
	float: left;
	cursor: pointer;
	text-align: center;
}
.set_3_button4 a {
	color:#252b2d;
	text-decoration: none;
	display: block;
}
.set_3_button4 span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.set_3_button4:hover {
	background-color: #cce0e7;
}
.set_3_button4:hover > span {
	opacity: 0;
	-webkit-transform: translate(0px, -40px);
	transform: translate(0px, -40px);
}
.set_3_button4::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(0, -30%);
	transform: translate(0, -30%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.set_3_button4:hover::after {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}